.stack-work/
*~
postgres/
postgres_data/
.bitcoin/*
!.bitcoin/bitcoin.conf
.lnd-*/*
!.lnd-*/lnd.conf
dist*
postgres.log
result
result-*
nohup.out
.DS_Store
.lnd/tls*
lnd-client-prof.aux
lnd-client-prof.hp
lnd-client-prof.prof
lnd-client-prof.ps
lnd-client-prof.svg
